[Desktop Entry]
Name=dwl
Comment=dwm for Wayland
Exec=bash -c 'source ~/workspaceconfig/sourceme/sourceme.sh; dwl -d -s ~/code/scripts/shell/dwl-startup.sh'
Type=Application
